@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.gradient-opacity {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(transparent)
  );
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.gradient-opacity-invert:not(.no-gradient) {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(black)
  );
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(black)
  );
  mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
}

.gradient-opacity-invert .no-gradient {
  -webkit-mask-image: none;
  mask-image: none;
}

@media (hover: hover) {
  .cardContainer {
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
      scale(0.9, 0.9);
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.6);
    transition: 0.4s ease-in-out transform;
  }

  .cardContainer:hover {
    transform: translate3d(0px, 0px, -250px);
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 0;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}

.fade-enter-done {
  transition: none;
}

.watercolor-bg {
  background-image: url("/watercolor-texture.png"); 
  background-blend-mode: multiply;
}

.paper-bg {
  background-image: url("/paper-texture.png"); 
  background-blend-mode: multiply;
}

.light-paper-bg {
  background-image: url("/light-paper-texture.png"); 
  background-blend-mode: multiply;
}

@font-face {
  font-family: "Bradley Hand";
  src: url("../public/BRADHI.ttf") format("truetype");
}
